<div class="container">
<h2>Login Form:</h2>
<form (ngSubmit)="loginUser()">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" placeholder="Enter username" [(ngModel)]="user.userName" name="username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="user.password" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  <h3>{{response.responseMessage}}</h3>
  <h3>{{response.responseStatus}}</h3>
</div>
