<div class="container">
  <div class="badge bg-black fs-5 mt-2 fw-normal">
    Total User Count:
  </div>
  <div class="badge bg-primary fs-5 m-2">
    {{count}}
  </div>
  <div class="float-end m-2">
  <a routerLink="/registration"><button class="btn btn-success">Create</button></a>
  </div>
  <table class="table mt-4">
    <thead class="table-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Created By</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let login of logins | paginate : {
        itemsPerPage: pageSize,
        currentPage: page,
        totalItems: count};">
      <tr [class.table-danger]="!login.status" [class.table-success]="login.status">
        <td>{{login.id}}</td>
        <td>{{login.userName}}</td>
        <td>{{login.emailId}}</td>
        <td>{{login.createdBy}}</td>
        <td>{{login.status}}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <div class="col-md-12">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      [responsive]="true"
      (pageChange)="handlePageChange($event)"
    ></pagination-controls>
  </div>
</div>
